@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    overflow-y: auto
}

:root {
    --background-color: #e2f3f2;
    --border-color: #ccc;
    --text-color: #000000;
    --placeholder-color: #1a1a1a80;
    --primary-color: #66a4b0;
    --secondary-color: #9e1717;
    --status-online: green;
    --status-offline: red;
    --success-color: lightgreen;
    --error-color: red;
    --header-height: 94px
}

[data-theme='dark'] {
    --background-color: #1a1a1a;
    --border-color: #ccc;
    --text-color: #ffffff;
    --placeholder-color: #9c9c9c80;
    --primary-color: #003a47;
    --secondary-color: #9e1717;
    --status-online: green;
    --status-offline: red;
    --success-color: #278f2f;
    --error-color: #c92a2a;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding-top: calc(var(--header-height) + 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: margin-left 0.3s ease-in-out;
}

.main-content.menu-open {
    margin-left: 250px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button:not(.menu-button):not(.toggle-button),
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

label {
    margin-top: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.shared-container {
    max-width: 1200px;
    margin: var(--header-height) auto 0 auto;
    box-sizing: border-box;
}