.home-container {
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.home-header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}

.status-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.status-box {
    flex: 1 1 200px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    color: var(--text-color);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.filters input,
.filters select {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    align-self: stretch;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: left;
    color: var(--text-color);
}

th,
td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    word-wrap: break-word;
    box-sizing: border-box;
}

tr:not(:last-child) td {
    border-bottom: 1px solid var(--border-color);
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--text-color);
}

:root {
    --border-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --border-color: rgba(255, 255, 255, 0.2);
}
