.home-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 5px;
    overflow: hidden;
}

.home-container table thead {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
}

.home-container table th, table td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}

[data-theme="dark"] .home-container tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--text-color);
}

[data-theme="light"] .home-container tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--primary-color);
}

.home-container tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.08);
}

.home-container tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.home-container .filters input,
.filters select {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.home-container .filters input:focus,
.filters select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.home-container select {
    border: 1px solid var(--border-color);
}

.home-container {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: var(--header-height) auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container .status-boxes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 1200px
}

.home-container .status-box {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.home-container .status-box.online {
    background-color: var(--status-online);
}

.home-container .status-box.offline {
    background-color: var(--status-offline);
}

.home-container .status-box p {
    margin: 0;
    font-size: 1rem;
}

.home-container .status-box h2 {
    margin: 0;
    font-size: 2rem;
}

.home-container.horizontal-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.table-wrapper {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 60vh;
    box-sizing: border-box;
}

.centered-table {
    display: flex;
    justify-content: center;
}

.main-content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.header-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: var(--header-height);
}

.agents-title {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.sticky-pagination {
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
    padding: 1rem 0;
    z-index: 2;
}
