@font-face {
    font-family: "lucida console";
    src: local("lucida console"),
      url("./fonts/Lucida_Console_Regular.ttf") format("truetype");
    font-weight: normal;
  }

  .stuck {
    position: static;
    top: 226px;
    left: 1047px;
    /* max-height: 100%; */
    width: 504px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 883px;
}
.stuck p {
    margin: 10px;
}
.not-stuck {
    margin-left: 200px;
}