.side-menu-container {
    position: relative;
    height: 100%;
}

.side-menu {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 250px;
    height: calc(100vh - var(--header-height));
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
}

.side-menu.open {
    transform: translateX(0);
}

.toggle-button {
    position: fixed;
    top: calc(var(--header-height) + 10px);
    left: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    transition: left 0.3s ease-in-out, background-color 0.3s ease, color 0.3s ease;
}

.toggle-button.open {
    left: 260px;
}

.toggle-button svg {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.toggle-button:hover svg {
    color: var(--primary-color);
}

.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-nav li {
    margin: 0;
    padding: 0;
}

.menu-nav li + li {
    margin-top: 10px;
}

.menu-nav a,
.menu-button {
    all: unset;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--text-color);
    background-color: transparent;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-nav a:hover,
.menu-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}
