.app-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0 1rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.center-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-name {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.app-logo {
    height: 50px;
    margin-left: 0.5rem;
}

.theme-toggle {
    margin-left: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}
